<li>
  <%= link_to partners_path do %>
    <%= tabler_icon "search", size: "16px" %>
    <span class="nav-label">Find Partners</span>
  <% end %>
</li>

<li>
  <%= link_to partners_path do %>
    <%= tabler_icon "chart-bar", size: "16px" %>
    <span class="nav-label">Charts</span>
  <% end %>
</li>