<div id="<%= dom_id organization_type %>">
  <div>
    <strong>Name:</strong>
    <%= organization_type.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= organization_type.description %>
  </div>

</div>
