<div id="<%= dom_id partner_type %>">
  <div>
    <strong>Name:</strong>
    <%= partner_type.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= partner_type.description %>
  </div>

</div>
