 <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= link_to partner_types_path do %> 
          <button type="button" class="btn btn-rounded btn-primary"><i class="fa fa-list"> </i> All Partner Types</button>
        <% end %>
      </div>

      <%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Edit Partner Type" } %>
    </div>
  </div>
