<% content_for :title, "New partner type" %>

<h1>New partner type</h1>

<%= render "form", partner_type: @partner_type %>

<br>

<div>
  <%= link_to "Back to partner types", partner_types_path %>
</div>
