<%= turbo_frame_tag dom_id(@post) do %>
  <%= render "form", post: @post %>

  <div>
    <%= link_to "Cancel", post_path(@post), data: { turbo_frame: dom_id(@post) }, class: "btn btn-sm btn-secondary" %>
  </div>
<% end %>
